/**********************************************************
 *             Copyright 2024, Godda.live                 *
 *                                                        *
 *                Author : VIJAY SOREN                    *
 *             GitHub - https://github.com/vijaysoren     *
 *                                                        *
 *       You may download and modify this file for        *
 *       use in your projects, in certain conditions      *
 *********************************************************/



 * {
    box-sizing: border-box;
 }

 @media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
}
  
nav{
    width: auto;
    height: 80px;
    margin-top: -1.8%;
    margin-left: -1.8%;
    margin-right: -1.8%;
    margin-bottom: 0%;
    background-color:  #1f6341;
    text-align: center;
    
}


.hamburger {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

#hamburgericon {
    margin-top: 0.5%;
    margin-left: 5%;
    height: 80px;
    width: 100px;
    float: left;
    display: none;
}


/*** menubar ***/
.navbar {
    background-color: rgb(83, 146, 117);
    display: block;
    width: auto;
    height: 50px;
    margin-left: -1.8%; 
    margin-right: -1.8%;
   
}

.navbar a {
    
    display: inline-block;
    color: rgb(237, 244, 247);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    margin-left: 3%;
}

.navbar a:hover {
    background-color: aqua;
    color: #000;
}

.navbar a.active {
    background-color: #04aa6d;
    color: white;
}

.navbar .icon {
    display: none;
}


/*** mobile screen ***/
/** pc browser min width 310px **/
@media screen and (max-width: 310px){
    /*
    #navbar a:not(:first-child){
        display: none;
    }
    */
    .navbar {
        height: auto;
    }

    .navbar a {
       display:block;
    }

    /** display menu icon on mobile screen **/
    #hamburgericon {
        display: block;
        margin-top: 1%;
    }
    
}


/*** menubar ***/
#menubar {
    background-color: cadetblue;
    margin-bottom: 65px;
}


/*** subheading container class***/
/*
.subheadingcontainer{
    width: auto;
    height: 240px; 
    margin-top: -4.6%; 
    margin-left: -1.8%; 
    margin-right: -1.8%;
    background-color:  #ccf8e2; 
    text-align: center;
    
   
}
*/


/*** johar id***/
#johar {
    
    margin-left: 40%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-top: 1%;
    height: 30px;
    color: #04aa6d;
}


/***subheadingbar id***/
#subheading {
    text-align: center;
    margin-top: 5%;
    padding-top: 1%;
    width: auto;
    background-color: aqua;
    
}


marquee{
    font-style: bold;
    background-color: rgb(125, 177, 160);
    margin-left: -1.8%;
    margin-right: -1.8%;
}


/*** mobile screen flex ***/
@media (max-width: 800px) {
    .sectioncontainer {
        flex-direction: column;
    }

    .container2 {
        flex-direction: column;
    }
}


.sectioncontainer {
    width: auto;
    height: fit-content;
    margin-right: -1.8%;
    margin-left: -1.8%;
    display: flex;
    background-color: aquamarine;
}

#leftmedia {
    background-color: rgb(107, 226, 123);
    max-width: 100%;
    min-width: 310px;
    width: 100%;
    height: fit-content;
    margin-left: -1.8%;
    margin-right: -1.8%;
}

.mediaimage {
    width: 620px;
    height: 350px;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

@media (max-width:320px) {
    .mediaimage {
        width: 310px;
        height: 220px;
    }
}

iframe {
    border: none;
}

#rightsidebar {
    background-color: rgb(5, 99, 63);
    min-width: 30%;
    max-width: 100%;
    height: 550px;
    margin-right: -1.8%;
    float: right;
    overflow:visible;
    position:static;
}

#container2 {
    width: 100%;
    display: flex;
    height: fit-content;
}

#sectioncontainer2 {
    background-color: rgb(65, 250, 90);
    max-width: 100%;
    min-width: 360px;
    width: 1050px;
    margin-left: -1.8%;
    margin-right: -1.8%;
    height: fit-content;
}

section {
    padding-left: 10%;
    padding-right: 5%;
    background-color: coral;
    margin-top: 1%;
    margin-left: 5%;
    max-width: 90%;
    min-width: 360px;
    padding-top: 1%;
    padding-bottom: 1%;
    height: fit-content;
    width: fit-content;
}

#adsenseAd1 {
    /*** background-color: rgb(247, 227, 221); ***/
    min-width: 30%;
    max-width: 100%;
    height: fit-content;
    padding-top: 5%;
    margin-right: -1.8%;
    margin-left: 2%;
    float: right;
    overflow:visible;
    position:static;
}

.eventimage {
    margin-top: 1%;
    margin-left: 5%;
}

.eventtext {
    padding-left: 5%;
    margin-left: 10%;
    margin-right: 5%;
}

#footer {
    width: auto;
    height: 500px;
    margin-top: -1.8%;
    margin-left: -1.8%;
    margin-right: -1.8%;
    margin-bottom: -1.8%;
    background-color:  #0b4d2c;
    text-align: center;
}
